<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <div id="counter">
    Clicked <span id="count">0</span> time(s).
  </div>

  <button onclick="javascript:document.querySelector('#count').textContent = Number(document.querySelector('#count').textContent) + 1">
    Click here
  </button>

  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
